//
   Created by xuewenwen on 6/3/2015.

h1 Edit
p hint: {{editController.hint}}
hr
button(data-ng-click="editController.saveCurrentDocument()") Save Current Document
br
br
button(data-ng-click="editController.insertDocument()") Insert New Document
div(ng-form="myform")
   hr
   label(class='col-sm-2, control-label') First Name
   input.form-control(type='text', ng-model='editController.data.firstName')
   br
   label(class='col-sm-2, control-label') Last Name
   input.form-control(type='text', ng-model='editController.data.lastName')
   br
   label(class='col-sm-2, control-label') Subject
   input.form-control(type='text', ng-model='editController.data.subject')