extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 This is the Convert Page!
  
  input#number(type='text', placeholder='number')
  
  p  
  
  button#buttonFeetToMiles Feet To Miles
  button#buttonHoursToSeconds Hours To Seconds
  button#buttonFahrenheitToCelsius Fahrenheit To Celsius
  
  p
  
  p#value