extends layout

block content
  h1= title
  p Welcome to #{title}

  button#buttonSayHello Say Hello
  p#paragraph01
  p#paragraph02
  p#paragraph03
  p#paragraph04
  p#paragraph05
  
  div
    a(href="/NewPage") New Page
  div
    a(href="/CalculatePage") Calculate Page
  div
    a(href="/ConvertPage") Convert Page
  div
    a(href="/PositionPage") Position Page
