doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="components/angular/angular.js")
        script(src="javascripts/control.js")
        script(src="javascripts/mongo-factory.js")
    body(ng-app="elvenApp")
        block content