extends layout

block content
  h1= title
  p Welcome to #{title}

  p#debug

  div
    input#inputFirstName.input3(type='text', value='' placeholder='First Name')
    input#inputLastName.input3(type='text', value='' placeholder='Last Name')

  p#first

  button#firstName Get first name
  br
  br
  button#getPresidents Get Presidents

  ul#displayJson