extends layoutMarkdown

block content
  h1= title
  p#fileName

  button#homepage Home Page
  button#savePage Save Page
  
  p#sessionNumber

  
  
  div#markdown.clearfix
    div.wmd-panel
      div#wmd-button-bar-elf
      textarea.wmd-input#wmd-input-elf

    div#wmd-preview-elf.wmd-panel.wmd-preview