extends layout

block content
  h1= title
  p Welcome to #{title}
  p#readyCalled
  button#myButton Push Me
  div p
  p Here is myText: #{myText}
  <p>FooBar</p>
  p.
    foo
    bar
    this
    is
    is
    No tabs
  ul
    li Foo
    li Bar
    li Goober
    
