//
   Created by xuewenwen on 6/3/2015.
h3 Current Item: {{subjectsController.data.firstName}}&nbsp;{{subjectsController.data.lastName}}
br
h4 Subjects List:

ul
   li(ng-repeat='subject in subjectsController.data.subjects')
      //span {{subject}}
      a(ng-click="subjectsController.selectSubject(subject)") {{subject}}
br
input(type='text', ng-model='subjectsController.newSubject', placeholder='input new subject here')
button(ng-click="subjectsController.addItem()") Add Item
br
br
input(type='text', ng-model='subjectsController.selectedSubject', placeholder='please select a subject' disabled)
button(ng-click="subjectsController.deleteSelected()") Delete Selected
br
br
button(ng-click="subjectsController.saveItems()") Save Items
br
br
