extends layout

block content
  h1= title
  
  img(src= "http://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg")  
  
  p Welcome to #{title}
  
  div
    a(href='http://wengexue.github.io') my page