extends layout

block content
  h1= title
  p Welcome to #{title}
    
  div#f1
    p#title
    p#type
    p#version
    p#name
    p#website
    
  br
  
  ul#displayList
  
  br
  
  div#f2
    p#debug01
    p#debug02

