extends layout

block content
  h1= title
  p Welcome to #{title}

  P This is a paragraph
  h1 This is header level 2

  button#sendString Send String
  p#stringHolder
  p#readyCalled

  ul#myList

  button#getItems Get Items

  button#getMarie Get Marie