extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p#readType
  
  button#readerjson Read From JSON
  button#readermarkdown Read From Markdown
  button#fancyreader Fancy Reader
  
  ul#displayList
  
  div
  p#documentShow
  
  div
  p#debug01
  p#debug02
