body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#inputInfo {
    padding: 9px;
    margin-bottom: 10px;
    width: 260px;
    font-size: 18px;
    float: left;
    line-height: 150%;
}
#displayInfo {
    padding: 9px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: thin solid;
    width: 260px;
    font-size: 18px;
    float: left;
    margin-left: 50px;
    line-height: 200%;
}

button
{
    height: 25px;
    font-family: Merriweather;
    font-size: 16px;
    color: #000;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.6), rgba(0,0,0,0.2));
    background: -moz-linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));
    background: linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    text-align: center;
    line-height: 100%;
    margin-right: 2px;
}

button:hover
{
    cursor:pointer;
    border-color:#00F;
}

button:disabled{
    color: #999999;
}